.Competition {
    margin:20px;
}

.Competition .CP-top {
    padding: 20px;
    background-image: url('../img/competition/cp-img-brg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.Competition .CP-top h2 {
    text-align: center;
}   

.Competition .line {
    margin: 50px 0;
    border: 1px solid black;
    text-align: center;
    line-height: 1.5;
} 
.Competition .CP-top .col-md-5 {
    display: grid; 
    justify-content: center;
    align-items: center;
}
.Cp-item {
    padding: 0 7%
}

.Cp-item .row {
    margin-top: 20px;
}
  
.cp-btn-rgt {
    background-color: #008374;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;  
    cursor: pointer;
    display: grid;
    margin-top: 5px;
}
 
.cp-btn-rgt:hover {
    background-color: yellow;
}
.cp-add {
    justify-content: end;
    display: grid;
    margin-right: 50px;
    margin-bottom: 30px;
}

.btn-add {
    background-color: #008374;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.Cp a:hover {
    color: black;
}


.references {
    background-color: #008374;
    padding: 55px;
    color: white;
}

.references .row {
margin-bottom: 60px;
border: 1px solid black;
padding: 10px;
transition: transform ease-in-out .2s
}

.references .row:hover {
    transform: scale(1.02);
}

.references h2 {
    text-align: center;
    margin-bottom: 34px;
}

.references h3 {
    margin-bottom: 20px;
}

.references a {
    color: white;
}

.references a:hover {
    color: bisque;
}

.dialog-add, .dialog-edit {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 10;
}

.hidden {
    display: none;
}

.modal-o {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog-body {
    background-color: #008374;
    margin: auto;
    z-index: 100;
    border-radius: 8px;
}

.close-btn {
    display: flex;
    justify-content: end;
    cursor: pointer;
    color: red;
    font-weight: 600;
    font-size: 20px;
    margin-right: 5px;
}

.f-rigister {
    display: grid;
    padding: 15px 100px;
}

.f-rigister .item {
    margin-top: 25px;
    padding: 6px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #008374;
    border-color: black;
}

.f-rigister .item::placeholder {
    color: darkslategrey;
}

.f-rigister .item:focus {
    outline: none;
}

.f-rigister .btn-rgt {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.f-rigister .btn-rgt a {
    color: wheat;
    text-decoration: none;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 5px;
}

.f-rigister .btn-rgt a:hover {
    color: black;
}

.cp-add-form {
    display: grid;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}

.cp-add-item-date {  
    display: flex;
}

.item-date {
    display: grid;
    margin-top: 8px;
}

.cp-add-item {
    display: grid;
    margin-top:8px;
}
.cp-add-description {
    resize: none;
    font-size: 12px;
    border-radius: 5px;
}
.btn-add-cp {
    margin-top: 16px;
    display: flex;
    justify-content: end;
}
.btn-delete, .btn-edit {
    background-color: #008374;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: grid;
    margin-top: 5px;
}
.btn-add-cp-item {
    cursor: pointer;
    font-size: 20px;
    color:black;
    padding:3px 16px;
    border:1px solid black;

}
.btn-add-cp-item:hover {
    color: white;
}
.ip-add-cp{
    border-radius:5px;
}
.ts td p {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px
}

.ts td a {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.table-scroll {
    overflow-x:scroll;
}
.Competition .table {
    border: 1px solid black;
    text-align: center;
}

table td {
    border-bottom: 1px solid black;
}

.ts .no {
    width: 10%;
    border-bottom: 1px solid black;
}

.ts .description {
    width: 20%;
}

.ts .date {
    width: 10%;
}

.ts .contestant {
    width: 8%;
}
.ts .question {
    width: 20%;
}
.ts .answer{
    width: 20%;
}

.ts .btn-rg-cp {
    width: 12%;
}

.references img {
    border-radius: 5px;
}
tr td:nth-child(even) {
    background-color: #f2f2f2;
}
tr td:nth-child(odd) {
    background-color: #19875426;
}
@media only screen and (max-width: 1200px) {
    .references .col-md-9 p {
        font-size: 15px;
    }

    .references img {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .references .col-md-9 p {
        font-size: 13px;
    }
}

@media only screen and (max-width: 767px) {
    .references .col-md-9 {
        margin-top: 15px;  
    } 

    .references img {
        width: 50%;
    } 
    .Competition .table {
        font-size: 12px;
    }

    .CP-top h6 {
        font-size: 13px;
        margin-top: 6px;
    }

    .CP-top h2 {
        margin-top: 7px;
        font-size: 25px;
    }

    .references .col-md-9 p {
        font-size: 10px;
    }

    .references h3 {
        font-size: 25px;
    }
}
@media only screen and (max-width: 544px) {
    .Competition {
        margin: 0;
    }
    .references h3 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 544px) {
    .cp-add-form {
        padding: 15px 35px;
    }
    .f-rigister h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 477px) {
    .Competition .table {
        font-size: 10px;
    }
    .references h3 {
        font-size: 15px;
    }
    .cp-add-form {
        padding: 5px;
    }
}
@media only screen and (max-width: 400px) {
    .cp-add-form input{
        width:97%;
    }
    .cp-add-form textarea {
        width: 97%;
    }
    .cp-add-form {
        padding: 5px;
        padding-left:10px;
    }
}
