
.faq-container {
    background: #008374;
    padding: 20px 0;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    clear: both;
    width: 100%;
    max-width: 1480px;
}

.bgr-image {
    width: 100%;
    margin-right: 5%;
}

    .bgr-image figure {
        position: relative;
    }

        .bgr-image figure img {
            max-width: 100%;
            height: auto;
            display: block;
            position: relative;
            z-index: 2;
            padding: 38px 120px;
        }

        .bgr-image figure::before {
            position: absolute;
            content: "";
            background: #fff;
            width: 40%;
            height: 100%;
            left: 70px;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
        }

    

.wrapper .h-title {
}

    .wrapper .h-title h3 {
        font-weight: 700;
        text-align: center;
        font-size: 35px;
    }

        .wrapper .h-title h3 span {
            font-weight: 1000;
            word-spacing: 3px;
            line-height: 2em;
            color: rgba(255, 255, 255, 0.79);
        }

        .wrapper .h-title h3:before {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 60px;
            height: 1px;
            content: "";
            left: 50%;
            margin-left: -30px;
            background-color: #777;
        }

.cf-title-03 h3 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
}

    .cf-title-03 h3:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 5px;
        width: 55px;
        background-color: #111;
    }

    .cf-title-03 h3:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 2px;
        height: 1px;
        width: 95%;
        max-width: 255px;
        background-color: #333;
    }

cf-title-03 {
    padding: 30px 0;
}
.faq-top{
    margin-bottom:50px;
}
.faq-top .row{
    width:100%;
    text-align:center;
}
.faq-btn-add{
    justify-content:end;
    display:grid;
}
    .faq-btn-add p {
        padding: 8px 30px;
        background-color: #008374;
        border-radius: 5px;
        cursor: pointer;
        color: #efede9;
    }
    .faq-btn-add p:hover {
        background-color: #019584;
    }
.dialog-add {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    opacity: 0;
    z-index: -1;
    align-items:center;
    justify-content:center;
}

.dialog-edit {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: -1;
    opacity: 0;
}

.showDialog {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    z-index: 1000;
}


.modal-o {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog-body {
    background-image: url('../img/competition/dialog-cp-bgr.jpg');
    margin: auto;
    z-index: 1000;
    border-radius: 8px;
    width: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.dialog-bgr {
    border-radius: 5px;
    background-color: #576774ad;
}

.close-btn {
    display: flex;
    justify-content: end;
    color: #eb5c4e;
    font-weight: 900;
    font-size: 24px;
    margin-right: 10px;
}

    .close-btn p {
        cursor: pointer;
        margin: 0;
    }

.cp-add-form{
    padding:20px;
}
.cp-add-item{
    display:grid;
}
.lb-add-cp{
    margin-bottom:8px;
    font-weight:500;

}
.cp-add-item textarea{
    resize:none;
    margin-bottom:20px;
    
    padding:5px 7px;;
}
/*.form-btn-ed{position:relative;}
.form-btn-ed div {
    position: relative;
    top:20%;
}*/
.btn-add-cp {
    justify-content: end;
    display: grid;
    color: #efede9;
}
    .btn-add-cp button {
        background-color: #008374;
        border: none;
        border-radius: 5px;
        padding:7px 25px;
    }
        .btn-add-cp button:hover {
            background-color: #019584;
        }
.faq-add-title{
    display:grid;
    justify-content:center;
}
.faq-add-title h2{
    font-weight:600;
}
.btn-edit-faqs {
    cursor: pointer;
    background-color: #008374;
    width: 100%;
    display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #efede9;
}
    .btn-edit-faqs:hover {
        background-color: #029987;
        color:white;
    }
.btn-delete {
    color: white;
    border-radius: 5px;
    display: block;
    width: 100%;
    cursor: pointer;
    background-color: #8f0000;
    padding: 5px 10px;
}
    .btn-delete:hover {
        background-color: #9b0303;
        color: #efede9;
    }
.table-scroll {
    overflow-x: scroll;
    margin-bottom: 30px;
}
.table-list {
    min-width: 600px;
}
@media only screen and (max-width: 500px){
    .bgr-image figure img {
        padding: 38px 60px;
    }

    .bgr-image figure::before {
        position: absolute;
        content: "";
        background: #fff;
        width: 40%;
        height: 100%;
        left: 20px;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
}