.Competition {
    margin: 35px;
}
.table-scroll {
    overflow-x: scroll;
}
.CP-top {
    background-image: url('../img/competition/cp-img-brg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 300px;
}
.cp-top-bgr {
    background-color: #407e5933;
    padding: 27px 46px;
}
.CP-top h6 {
    color: white;     
    line-height: 1.5;
}
.CP-top p {
    background-color: #418b2236;    
    padding: 5px;  
}
.CP-top .col-md-5 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.CP-top h2 {
    color: green;
    text-align: center;
    background-color: #ffffffab;
    padding: 6px;
    border-radius: 5px;
    font-weight: 700;
}

.Competition .line2 {
    display: flex;
    margin: 50px 0;
    justify-content: center;   
}
 
    .Competition .line2 p {
        content: " ";
        border: 1px solid black; 
        width: 70%;
        line-height: 1.5;
    }

.Cp-item {
    padding: 0 7%
}

    .Cp-item .row {
        margin-top: 20px;
    }

.cp-btn-rgt {
    background-color: #008374;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: grid;
    margin-top: 5px;
}

.cp-add {
    justify-content: end;
    display: grid;
    margin-right: 50px;
    margin-bottom: 30px;
}

.cp-add-btn {
    background-color: #008374;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.Cp a:hover {
    color: black;
}

tr td:nth-child(even) {
    background-color: #f2f2f2;
}

tr td:nth-child(odd) {
    background-color: #19875426;
}

.btn-rgt-cp-ad a:hover {  
    color: rebeccapurple;
}
    
.references {
    background-color: #008374;
    padding: 55px;  
   
}
.cp-btn-join {
    display:grid;   
    background-color: #008374;  
    color:white;
    border-radius:5px;
    align-items:center;      
    margin-top:7px;
    font-size:15px;
    cursor:pointer;
    padding:7px;
}
    .cp-btn-join:hover {
        background-color: #00a18e;
    } 
.references .row {
    margin-bottom: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px;
    transition: transform ease-in-out .2s
}

        .references .row:hover {
            transform: scale(1.02);
        }

    .references p {
        margin-bottom: 5px;
    }

    .references .col-md-9 {
        display: grid;
        align-items: center;
    }

    .references .content {
        display: flex;
    }



.references h3 {
    margin-bottom: 0;
    color: #d6d6d6;
    font-size: 23px;
}

    .references a {
        color: white;
    }

        .references a:hover {
            color: bisque;
        }

.dialog-cp-rgt {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;    
    left: 0;
    display: flex;
    z-index: -1;
    opacity:0;
}
    .dialog-cp-rgt h3 {
        font-size: 33px;
        text-align: center;
        font-family: system-ui;
        color: #0aceb8c4;
    }
.dialog-bgr {
    border-radius: 5px;
    background-color: #313e4878;
}
.showDialog {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    z-index: 1000;
}

.modal-o {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog-body {
    background-image: url('../img/competition/dialog-cp-bgr.jpg');
    margin: auto;
    z-index: 10000;
    border-radius: 8px;
    display: block;
    max-width: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
}

.close-btn {
    display: flex;
    justify-content: end;
    cursor: pointer;
    color: red;
    font-weight: 600;
    font-size: 20px;
    margin-right: 5px;
}

.f-rigister {
    display: grid;
    padding: 15px 60px;
}

    .f-rigister .item {
        margin-top: 25px;
        padding: 6px 20px;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: #626c6470;
        color: #ffffffff;
    }

        .f-rigister .item::placeholder {
            color: #ffffffb8;
        }

        .f-rigister .item:focus {
            outline: none;
        }

    .f-rigister .btn-rgt {
        display: flex;
        justify-content: end;
        margin-top: 30px;  
    }
        .f-rigister .btn-rgt button {
            padding: 5px 12px;
            background-color: #008374;
            border: none;
            border-radius: 5px;
            color: #cdc3c3;
        }
            .f-rigister .btn-rgt button:hover {
                background-color: #049988;
            }
        .f-rigister .btn-rgt a {
            color: wheat;
            text-decoration: none;
            border: 1px solid gray;
            padding: 10px 20px;
            border-radius: 5px;
        }

            .f-rigister .btn-rgt a:hover {
                color: black;
            }

.cp-add-form {
    display: grid;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}

.cp-add-item-date {
    display: flex;
}

.item-date {
    display: grid;
    margin-top: 15px;
}

.cp-add-item {
    display: grid;
    margin-top: 15px;
}

.ts td p {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px
}

.Competition .table {
    text-align: center;
    margin-bottom: 50px;
    box-shadow: rgb(122 122 122 / 30%) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 1px 5px;  
}

.Competition table td {
    border-bottom: 1px solid #bdaeae;
}

.ts .no {
    width: 10%;
}

.ts .description { 
    width: 45%;  
}

.ts .date {
    width: 25%;
}

.ts .contestant {
    width: 8%;
}
  
.ts .btn-rg-cp {
    width: 12%;
}

.references img {  
    border-radius: 5px;
}
.ts .title{
    width:30%;
}
.ts .answer{
    width:50%;
}
.ts .Mark{  
    width:10%;
}
.references .col-md-9 p {
    color: #c8c8c8;
    font-family: monospace;
}
.references h2 {
    color: #efefefe3;
    font-size: 36px;
}
@media only screen and (max-width: 1200px) {
    .references .col-md-9 p {
        font-size: 14px;
    }

    .references img {
        width: 100%;
    }

    .ts a {
        font-size: 13px;
        padding:5px;
    }
    
}

@media only screen and (max-width: 990px) {
    .ts a {
        font-size: 12px;
    }
    .CP-top h6 {
        font-size: 14px;
    }
    .references h3 {
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 1050px) and (min-width:768px) {
    .references .col-md-3 {
        width: 40%;
    }

    .references .col-md-9 {
        width: 60%;
    }
    .references h3 {
        font-size: 20px;
    }
}


@media only screen and (max-width: 900px) {
    .Competition .table {
        font-size: 13px;
    }

    .ts a {
        font-size: 12px;
    }
    .references .col-md-9 p {
        font-size: 13px;
    }
    .references {
        padding:25px;
    }
}

@media only screen and (max-width: 767px) {
    .references .col-md-9 {
        margin-top: 15px;
    }

    .references img {
        width: 30%;
    }

    .Competition .table {
        font-size: 12px;
    }
    .CP-top{
        background-size:100% 100%;
    }
    
    .CP-top p {
        font-size: 13px;
        margin-top: 6px;
    }

        .CP-top h2 {
            margin: 10px 50px;
            font-size: 25px;
        }
        .CP-top h6{
            text-align:center;
        }
        .references .col-md-9 p {
            font-size: 10px;
        }
    .section-header h2{
        font-size:28px;
    }

    .references .content h3 {
        margin-bottom: 12px;
        font-size: 18px;
    }

    .references .content {
        display: flex;
    }
    .references h3 {
        font-size: 19px;
    }
    .btn-rgt-cp .cp-btn-join {
        font-size: 6px;
    }
    .Competition .section-header h2{
        font-size:28px;
    }
    
}
 
@media only screen and (max-width: 544px) {
    .Competition {
        margin: 0;
    }

    .references .content h3 {
        font-size: 15px;
    }
    .ts a {
        font-size: 11px;
        padding: 1px;
    }
    .CP-top h6{
        font-size:12px;
    }
    .CP-top h2{
        font-size:22px;
    }
    .Competition .section-header h2{
        font-size:25px;
    }
    .section-header h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 477px) {
    .Competition .table {
        font-size: 10px;
    }

    .f-rigister {
        padding: 15px 35px;
    }

        .f-rigister h2 {
            font-size: 25px;
        }
    .references h3 {
        font-size: 17px;
    }
}
@media only screen and (max-width: 477px) {
    
    .references h3 {
        font-size: 14px;
    }
}