.dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index:1;
}

.hidden {
    display: none;
}

.modal-o {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 223, 223, 0.84);
}

.dialog-body {
    background-color: #008374;
    margin: auto;
    z-index: 100000;
    border-radius: 8px;
}

.close-btn {
    display: flex;
    justify-content: end;
    cursor: pointer;
    color: black !important;
    font-weight: 600;
    font-size: 37px;
    margin-right: 25px;
}

.f-rigister {
    display: grid;
    padding: 15px 100px;
}

.form-group {
    position: relative;
    margin-bottom: 2rem;
  }

    .form-group label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1rem;
        color: #683e3e;
        pointer-events: none;
        transition: all 0.3s ease-out;
    }
  
  .form-group input {
    display: block;
    width: 100%;
    height: 1.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: transparent;
  }
  
  .form-group input:focus + label,
  .form-group input:valid + label {
    top: -1.25rem;
    font-size: 0.8rem;
    color: #333;
  }
  