.dialog-editAccountSurvey, .dialog-editProfile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 10;
}
.editProfile:hover {
    cursor:pointer;
}
.editProfile-form {
    color: #c0d3c8;
    min-width: 350px;
    display: grid;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
}

.hidden {
    display: none;
}

.Editprofile-modal-o {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.Editprofile-dialog-body {
    background-color: #008374;
    margin: auto;
    z-index: 100;
    border-radius: 8px;
}

.close-editProfile, .close-editAccountSurvey {
    display: flex;
    justify-content: end;
    cursor: pointer;
    color: #ffbcbc;
    font-weight: 600;
    font-size: 20px;
    margin-right: 5px;
    width: 98%;
}

    .close-editProfile:hover, .close-editAccountSurvey:hover {
        color: white;
    }
.editProfile-item {
    display: grid;
    margin-top: 20px;
    margin-bottom: 25px;
}

.editProfile-description {
    resize: none;
    font-size: 12px;
    border-radius: 5px;
}

.editProfile-btn-save {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
   
}
    .edit-btn-save {
         margin-top: 16px;
        display: flex;
        justify-content: end;
        background-color: #36a79a;
        border-radius: 5px;
        padding: 4px 20px;
        color: white;
    }
        .edit-btn-save:hover {
            background-color: #3cc1b2
        }
.edit-btn-delete {
    margin-top: 16px;
    display: flex;
    justify-content: end;
    background-color: #c40038;
    border-radius: 5px;
    padding: 4px 20px;
    color: white;
}

    .edit-btn-delete:hover {
        background-color: #e20645
    }

        .editProfile-item-date {
            display: grid;
            margin-top: 8px;
        }
.ip-editProfile {
    border-radius: 5px;
    margin-top:5px;
}
.line {
    margin: 20px 0;
    border: 1px solid black;
    text-align: center;
    line-height: 1.5;
}
#myImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius:50px;
}
.editProfile-image {
    display:flex;
}
    .editProfile-image input {
        font-size: 8px;
        color: #008374;
        padding-left:20px;
    }
    .editProfile-image h5 {
        width: 15ch;
        word-wrap: break-word;
        font-size:15px;
    }
.editProfile-image-name {
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
}
.editProfile-image-img {
    width:50%
}
.editProfile-checkbox {
    display:flex;
}


.editProfile-checkbox_input {
    margin-left: 15px;
    width: 15px;
}


@media only screen and (max-width: 544px) {
    .editProfile-form {
        padding: 15px 35px;
    }
}

@media only screen and (max-width: 400px) {
    .editProfile-form input {
        width: 97%;
    }

   

   
}