.sv-top {
    display: flex;
    background-color: #008374;
    padding:40px 10px;
}
.sv-top .container{
    margin:0 30px;
    width:100%;
}
.sv-top ul li{
    list-style-type:none;
    margin-top: 30px;
}
.sv-top .col-md-6{
    text-align:center;
}
.sv-top .col-md-6 img{
    border-radius:5px;
    width:50%
}
.sv-content{
    padding:30px; 
}
.sv-content-top{  
    padding:10px 30px;
}
.sv-content-top .title {
    display: flex;
    align-items: center;
    background-color: #008374;
    padding: 10px;
    border-radius: 5px;
    margin-top:20px;
}
.sv-content-top .title h3 {
    display: flex;
    align-items: center;
    margin:0;
    font-size:20px;
}
.sv-content-top .time {
    display: flex;
    align-items: center;
    justify-content:end;
}
.sv-content-top .time p {
    display: flex;
    align-items: center;
    margin: 0;
    border: 1px solid black;
    color: red;  
    border-radius:5px;
    padding: 10px;

}
.sv-content .question{
    margin-top:40px;
    padding:10px 30px;
}
.sv-content .question h2{
    margin-bottom:20px;
    font-size:19px;
}
.sv-content .question p {
    padding:0 50px;
}  
.form-answer{
    
}
.form-answer .container {
    display: flex;
    width:100%;
    justify-content:space-around;
}
.form-answer .sv-textarea{
    width:100%;
    resize:none;
    border-radius:5px;
    background-color:white;
    border:1px solid black;  
}
.sv-form{
    width:40%;
}
.form-answer-img{
    width:50%;
    text-align:center;
}
.form-answer-img img {
    width: 100%;
}
.form-answer .btn-form-sv {
    display: flex;
    justify-content: end;
    margin-top: 25px;
}
.form-answer .btn-form-sv button {
    background-color: #008374;
    border: none;
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:5px;
}
.form-answer .btn-form-sv button:hover {
    color:white;
}
.sv-bottom {
    text-align: center;
    margin-top: 30px;
    background-color: #008374;
    
}

.sv-bottom img{
    width:100%;
}   

@media only screen and (max-width:832px) {
    .sv-top .col-md-6 li h6 {
        font-size: 13px;
    }
}
@media only screen and (max-width:767px) {
    .sv-top .col-md-6 li h6 {
        font-size: 15px;
    }
    .sv-content .title h3{
        font-size:20px;
    }
    .sv-form textarea{
        line-height:1.2;
        font-size:13px;
        width:100%;
    }
}
@media only screen and (max-width:623px) {
    .sv-content .title h3 {
        font-size: 15px;
    }
    .sv-content{
        padding:30px 0;
    }
    .sv-content .question{
        padding:0 10px;
    }
    .sv-content .question p{
        font-size:13px;
    }
}
@media only screen and (max-width:463px) {
    .sv-content .sv-content-top{   
        display:grid;
        justify-content:center;
    }
    .sv-content .sv-content-top .time{
        justify-content:center;
        margin-top:20px;
        margin:10px;

    }
    .sv-form textarea {
        line-height: 1;
        
    }
    .sv-form {
        width: 50%;
    }
    .form-answer-img {
        width: 40%;
        
    }
}
@media only screen and (max-width:389px) {
    .sv-content .title h3 {
        font-size: 14px;
    }
}