.sp-top {
    background-image: url('../img/support/ivan-bandura-QfefrzHQAdM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 300px;   
    padding:50px;
    text-align:center;  
    margin-bottom:30px;
}
.sp-top-top {
    background-color: rgb(0 0 0 / 64%);
    padding: 20px 10px;
}
    .sp-top-top h2 {
       color:white;    
       font-weight:700;  
    }
        .sp-top-content p { 
    line-height: 2; 
    color: #bfffaa;
}
.sp-top-content h1 {
    color: #364fff;
}
.sp-spter {
    display: flex;
    margin-bottom: 80px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sp-spter label{
    margin-right:10px;
}
.sp-item {
    width: 550px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    margin-top: 50px;
    box-shadow: rgb(205 251 233) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgb(255 255 255 / 14%) 0px 8px 4px, rgb(176 176 176 / 30%) 0px 16px 8px, rgb(255 255 255 / 9%) 0px 32px 16px;
}
.sp-form-top{
    text-align:center;
    margin-bottom:25px;  
}
.btn-add-cp{
    display:grid;
    justify-content:end;
}
.btn-add-cp-item {
    margin-bottom: 15px;
    border: none;
    padding: 5px 20px;
    background-color: #c7cbc8;
    border-radius: 5px;
    font-weight:600;
}
.btn-add-cp-item:hover {
    background-color:white;
}

    .sp-img img {
        width: 100px;
        height: 100px;
        object-fit:cover;
       
    }
.infor {
    margin-top:10px;
    text-align:center;
}
.infor-name {
    margin: 0 auto;
    margin-bottom:5px;
    font-weight:600;
    font-size:20px;
}
.infor-position {
    margin: 0;
    font-style: italic;
    color: #79726e;
}
.sp-title{
    text-align:center;
    margin: 30px 0;
    color:cornflowerblue;
}
    .sp-title h3 {
        font-size: 32px;
        background: linear-gradient(to right, #F15F79, #B24592, #6B3FA0, #0077B5, #00B4DB, #00D8C2);
        -webkit-text-fill-color: transparent;
        font-weight:700;
    }
.sp-item-btn{
    display:grid;
}
.btn-delete {
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #b10b00;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}
    .btn-delete:hover {
        background-color: #cd382e;
        color:white;
    }
.btn-edit {
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #008374;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}
    .btn-edit:hover {
        background-color: #089989;
        color:white;
    }
.dialog-add {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 1000;
}

.dialog-edit {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 1000;
}

.hidden {
    display: none;
}

.modal-o {  
    position: absolute;  
    width: 100%;      
    height: 100%;    
    background-color: rgba(0, 0, 0, 0.4);   
}
.dialog-bgr {
    border-radius: 5px;
    background-color: #303f4bb5;
}
.dialog-body {  
    margin: auto;
    z-index: 1000;  
    border-radius: 8px;
    display: block;
    width: 50%;
    position: sticky;
    top: 20%;
    margin-top: 30px;
    background-image: url('../img/support/dialog-bgr.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #008374;
}

.close-btn {
    display: flex;
    justify-content: end;
    cursor: pointer;
    color: #eb5c4e;
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
}

.cp-add-form {
    display: grid;
    justify-content: center;
}

    .cp-add-form input {
        width: 100%;
        margin-bottom: 23px;
        border: none;
        padding: 5px;
        background-color: #ffffff00;
        border-bottom: 1px solid #a2b1a2;
        color: #ffffffc9;
        font-weight:500;
    }
    .cp-add-form .image input{
        border:none;
    }
.cp-add-form input::placeholder {
    color: white;
}

.sp-add-form-item {
    width: 400px;
}

.sp-btn-add { 
    display: grid;
    margin-bottom: 20px;
    justify-content: end;
}
 
.sp-btn-btn-add {
    background-color: #008374;
    color: white;
    padding: 5px 50px;
    border-radius: 5px;
    cursor: pointer;
}  
.dp-flex{   
    display:flex; 
}
.sp-item-item label {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: italic;
    margin-right: 9px;
}
.sp-item-item p {
    font-style: italic;
    font-weight: 600;
    color: #1e476a;
}
.section-header-dialog h2 {
    color: #c7cbc8;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}
@media only screen and (max-width:972px) {
    .sp-top-content p {
        font-size: 15px;
    }
}

@media only screen and (max-width:860px) {
    .dialog-body {
        width: 60%;
    }
}

@media only screen and (max-width:767px) {
    .sp-top {
        background-size: 100% 100%;
    }

    .section-header h2 {
        font-size: 28px;
    }

    .dialog-body {
        width: 70%;
    }
}

@media only screen and (max-width: 640px) {
    .sp-top-content p {
        font-size: 13px;
    }

    .sp-top {
        padding: 30px;
    }

    .dialog-body {
        width: 80%;
    }
}

@media only screen and (max-width:535px) {
    .sp-item-item {
        font-size: 15px;
    }

    .sp-item-btn {
        font-size: 15px;
    }

    .dialog-body {
        width: 90%;
    }
}

@media only screen and (max-width: 475px) {
    .sp-add-form-item {
        width:300px;
    }
    .sp-item {
        flex-direction: column;
        width: 300px;
    }

    .sp-item-btn {
        display: block;
    }

    .btn-delete {
        display: inline;
        margin-left: 10px;
    }

    .btn-edit {
        display: inline;
        width: 70px;
        margin-right: 10px;
        padding: 5px 20px;
    }

    .sp-item-item {
        margin: 10px auto;
    }

    .section-header h2 {
        font-size: 25px;
    }

    .dialog-body {
        width: 100%;
    }
}