.sp-top {
    background-image: url('../img/support/ivan-bandura-QfefrzHQAdM-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 300px;
    padding: 50px;
}
.sp-top-top {
    background-color: rgb(0 0 0 / 64%);
    padding: 20px 10px; 
    text-align:center;
}
    .sp-top-top h2 {
        color: white;
        font-weight: 700;
    }
.sp-line {
    display: flex;
    margin: 5px 0;
    width: 100%;
    justify-content:center;
}

    .sp-line p {
        content: "";
        border: 1px solid #b8ccd3;
        width: 80%;
    }
.sp-top-content p {
    line-height: 2;
    color: #bfffaa;
    font-family: var(--font-primary);
}
.sp-top-content h1 {
    color: #364fff;
    text-align: center;
}
.sp-spter {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
}
.sp-item {
    margin-top: 50px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    line-height: 0.7; 
    margin-left:16%;
}
.sp-form-top{
    text-align:center;
    margin-bottom:25px;  
}
.btn-add-cp{
    display:grid;
    justify-content:end;
}
.btn-add-cp-item {
    margin-bottom: 15px;
    border: none;
    padding: 5px 20px;
    background-color: #2a463e;
    border-radius: 5px;
}
.sp-img {
    width: 100%;
    margin-bottom: 15px;
   

}
.sp-table {
    background-color: #008374;
    padding:20px 0;
}
.sp-img img {
    width: 200px; 
    padding: 15px;
}
.sp-table h2 {
    text-align: center;
    padding: 30px 0;
    color: cornflowerblue;
    background-color: #008374;
}
.team .row .col-md-6{
    justify-content:center;
}
.sp-member {
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    width:400px;
}  
.sp-member .name{
    font-size:20px;  
    font-weight:700;
}
    .sp-member .position {
        margin-bottom: 20px;
        font-size: 17px;
        color: #2b396c;
        font-style:italic;
        font-weight: 600;
    }  
    .sp-member .sp-lchat-btn{
        display:grid;  
    }
    .sp-member .sp-lchat-btn a {
        padding: 10px 20px;
        cursor: pointer;
        background-color: #008374;
        border-radius:5px;  
        color:white;
        margin-top:20px;
    }
.sp-item-btn{
    display:grid;
}   
.sp-item-item-1{   
    width:100%;
    margin-left:20px;
}
.btn-delete {
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #008374;
    color:white;
    padding:5px 10px;
}
.btn-delete:hover {
    color:black;
}
.btn-edit {
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #008374;
    color: white;
    padding: 5px 10px;
}
.btn-edit:hover {
    color: black;
}
.dialog-add {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 1000;
}

.dialog-edit {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 1000;
}

.hidden {
    display: none;
}

.modal-o {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog-body {
    background-color: #008374;
    margin: auto;
    z-index: 1000;
    border-radius: 8px;
    display: block;
    width: 50%;
}

.close-btn {
    display: flex;
    justify-content: end;
    cursor: pointer;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
}

.cp-add-form {
    display: grid;
    justify-content: center;
}

.cp-add-form input {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    padding: 5px;
    background-color: #ffffff00;
    border-bottom: 2px solid black;
}

.cp-add-form input::placeholder {
    color: black;
}

.sp-add-form-item {
    width: 400px;
}

.sp-btn-add {
    display: grid;
    margin-bottom: 20px;
    justify-content: end; 
}

.sp-btn-btn-add {
    background-color: #008374;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.sp-fz {
    font-size: 15px;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 5px;
    color: #898868;
    font-style:italic;  
}
.sp-fz p{
    margin-bottom:0;
    margin-left:15px;
}

.contact-form-container {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
    font-family: Arial, sans-serif;
    display: flex;
}
.contact-form-container .f-right{
    width:50%;
}
.contact-form-container .f-right .form-group  textarea{
    resize:none;
}
.contact-form-container .f-left{
    width:50%;
}
.contact-form-container .f-left img {   
    width: 100%;
}
.contact-form-container .f-left img{
    width:100%;
}

.contact-form-container h2 {
    color: #333;
}

.contact-form-container  form {
    display: flex;
    flex-direction: column;
}

.contact-form-container  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.contact-form-container  label {
    margin-bottom: 5px;
    color: #333;  
    font-weight: bold;
    margin-top: 10px;
    margin-bottom:20px;
}

.contact-form-container  input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    color: #333;
}

.contact-form-container  input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.contact-form-container  button[type="submit"] {
    background-color: #008080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form-container  button[type="submit"]:hover {
    background-color: #005959;
}
.map {
    justify-content: center;
    display: grid;  
    padding: 20px 0;
    background-color: #008374;
}
.map .lc-title{
    text-align:center;
    margin-bottom:40px;
}
.sp-item-item{
    display:grid;
    justify-content:center;
    line-height:1;  
}
@media only screen and (max-width: 1199px){
    .sp-item-menber{
        justify-content:center;
    }
}
@media only screen and (max-width:798px) {
    .sp-top p{
        font-size:13px;
    }
}
@media only screen and (max-width:767px){
   
    .sp-fz{
        font-size:14px;
    }
    .contact-form-container {
        width: 73%;
    }
    .sp-top {
        background-size: 100% 100%;
    }
    .section-header h2 {
        font-size: 28px;
    }
    section-header-contact {
    text-align: center;
    padding-bottom: 0;
    }    

        .section-header-contact h2 {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 20px;
            padding-bottom: 20px;
            position: relative;
        }
            .section-header-contact h2:after {
                content: "";
                position: absolute;
                display: block;
                width: 50px;
                height: 3px;
                background: var(--color-primary);
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
}
@media only screen and (max-width:620px){
    .sp-spter{
        display:grid;
        padding:0;
    }  
    .sp-item{
        flex-direction:inherit;
        width:100%;
        margin:0;
        margin-bottom:30px;
    }
    
    
    .sp-item{
        line-height:1.5;  
    }
    .sp-fz{
        font-size:16px;
    }  
    .sp-item-item{
        width:65%;
        margin-left:30px;
    }
    .lc-item iframe{
       width:100%;
    }
    .contact-form-container .form-group input{
        padding:2px 0;;
    }

}
@media only screen and (max-width:580px) {
    .sp-top p{
        font-size:11px;
    }
    .sp-top h1{
        font-size: 25px;
    }
    .contact-form-container {
        width: 90%;
    }
}
@media only screen and (max-width:536px){
    .sp-fz{
        font-size:14px;
    }
    .sp-item {
        line-height: 1.2;
    }
}
@media only screen and (max-width:460px) {
      
    .contact-form-container .form-group label {
        font-size:13px;
        margin:0;
        
    }
    .contact-form-container .form-group input::placeholder {
        font-size:13px;
        
    }
    .contact-form-container .form-group textarea::placeholder {
        font-size: 13px;
    }
    .contact-form-container button[type=submit]{
        font-size: 13px;
        padding:0;
    }
}
@media only screen and (max-width:410px) {
    .sp-fz{
        font-size:12px;
    }
    .sp-top p {
        font-size: 10px;
    }
    
}